body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.preloader-icon {
  margin: 50px auto;
}

.buttons-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.user-name {
  font-size: 18px;
  line-height: 24px;
  color: #333;
}

a {
  color: #fff;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-decoration: none;
}

.button {
  background-color: rgb(248, 96, 96);
  border-width: 0;
  border-radius: 4px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 40px;
  width: fit-content;
  min-width: 60px;
  padding: 0 15px;
  color: white;
  font-size: 16px;
  margin-left: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.update-form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border: 1px solid rgb(167, 165, 166);
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  height: 40px;
  max-width: 60%;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0 10px;
  color: rgb(129, 127, 128);
  font-size: 16px;
  line-height: 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.return-home {
  color: rgba(248, 96, 96, 1);
  cursor: pointer;
  line-height: 21px;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.return-home:hover {
  color: rgba(248, 96, 96, .8);
  text-decoration: underline;
}